.home {
  &__lifecraft-banner {
    display: block;
    width: 95%;
    // Vertically center banner with autos
    margin: -5px auto 30px auto;
  }

  &__subheader1 {
    width: 50%;
    text-align: center;
    line-height: 30px;
    font-family: $primary-font;
    font-size: 20px;
    margin: auto auto 30px auto;
  }

  &__subpage-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 40px;
    column-gap: 40px;
    margin-right: 30px;
    margin-left: 30px;

    &__title {
      font-weight: bold;
      color: green;
      margin-bottom: 20px;
    }

    &__text {
      margin-bottom: 20px;
    }

    &__btn {
      background-color: rgba(0, 0, 0, 0.9);
      color: white;
      padding: 7px 18px 7px 18px;
      border-radius: 6px;
      margin-bottom: 20px;
    }
  }
}
